*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	text-decoration-color:none;
	list-style: none;
  }
 body{
	background-color: #ffffff;
 }
  .question{
	height: fit-content;
	min-width: 70%;
	margin: 1%;
	padding: 10px 20px;
	background-color: #fafafa;
	box-sizing: border-box;
  }
  

  .barra1{
	display: flex;
	justify-content: space-between;
	align-items:center;
  }
  
  .barra1:hover{
	cursor: pointer;
  }

  .barra1 button{
	height: fit-content;
  }
  .barra1 img{
	height: 300px;
  }

  .barra2{
	padding: 10px;
  }