.menu {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
    border-right: 1px solid rgba(0, 0, 0, 0.185);
    flex-basis: max(120px, 9%);
    padding: 0 30px;
    padding-top: 80px;
}

.link {
    color: rgb(104, 104, 104);
    padding: 20px 10px;
    text-align: center;
}

.link:hover{
    background-color: rgba(0, 0, 0, 0.089);
}