/* body {
input + ul {
  display: none;
}

input:checked + ul {
  display: block;
} */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.footer{
    width: 100%;
    background-color: #0a141d;
}
.footer .group1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
    height: 250px;
}
.footer .group1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .group1 .box figure img{
    width: 100px;
}
.footer .group1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.footer .group1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.footer .group1 .social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.footer .group1 .social a:hover{
    color: aqua;
}
.footer .group2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.footer .group2 small{
    font-size: 15px;
}
.conteinerIcon, .avatar{
  height: 100px;
  align-items: center;
}
.info{
    letter-spacing: 1px;
    line-height: 22px;
}
.icon{
    font-size: 5px;
}
@media screen and (max-width:800px){
    .footer .group1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
        height: 520px;
    }
}
