/* body {
input + ul {
  display: none;
}

input:checked + ul {
  display: block;
} */

.footer{
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgb(204, 201, 201);
  background-color: #414141;
  width: 100%;
  max-height: 300px;
  height: 100px;
}

.footer b {
  color: rgb(194, 194, 194);
}
