*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	text-decoration-color:none;
	list-style: none;
  }
 body{
	background-color: #ffffff;
	text-align: center;
 }
  .question{
	height: fit-content;
	min-width: 70%;
	margin: 1%;
	padding: 10px 20px;
	background-color: #fafafa;
	box-sizing: border-box;
	border-radius: 5px;
  }
  

  .barra1{
	display: flex;
	justify-content: space-between;
	align-items:center;
	background-color: #1c71f1;
	padding: 5px 10px;
	border-radius: 5px;
	color: #fafafa;
  }
  


  .barra2{
	background-color: #d0e3ff;
	padding: 10px 20px;
  }

