.credencial{
    background-image: url("../../assets/img/credencial1.png");
    background-repeat: no-repeat;
    border-color: black;
    margin-top: 50px;
    margin-left: 40%;
    height: 400px;
    width: 700px;
}
.credencial:hover{
    background-image: url("../../assets/img/credencial2.png");
}
.contenedor{
    display: flex;
}