.Nav{
    display:flex;
    align-items: center;
  }
  
  .Nav h2{
    font-family: sans-serif;
    display: inline-block;
    margin-right: 50px;
    justify-content: center;
    color: #010101;
    background-color: #e71627;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .Nav h2:hover{
    cursor:pointer;
    background-color: #c7bdbe;
  }
  .Menu{
  
  }
  .Menu ul ul li{
    display: none;
  }
  
  .icono{
    position: relative;
    top: 20px;
    height: 50px;
  }
  .icono:hover{
    cursor:pointer;
  }
  
  .Nav a{
    color: #fefefe;
  }

  .logo:hover{
    cursor:pointer;
  }