.outsideContainer {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}
.imgContainer {
  padding-top: 10px;
  height: 400px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 5px;
  background-position: bottom;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.55);
}
.step1 {
  composes: imgContainer;
  background-image: url("@/assets/img/step1.jpg");
}
.step2 {
  composes: imgContainer;
  background-image: url("@/assets/img/step2.jpg");
}
.step3 {
  composes: imgContainer;
  background-image: url("@/assets/img/step3.jpg");
}
.imgTitle {
  font-family: sans-serif;
}

@media (max-width:930px) {
  .outsideContainer {
      flex-wrap: wrap;
  }
  .imgContainer{
    margin-top: 25px;
    height: 370px;
  }
}