.mainForm {
  border: 1px solid black;
  border-radius: 15px;
  margin: auto;
  margin-top: 100px;
  width: max(650px, 50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.titleBox {
  background-color: var(--color-primary);
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  text-align: center;
  flex-basis: 35%;
  /* padding-top: 19%; */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.tittle {
  font-family: Arial, Helvetica, sans-serif;
}
.ansBox {
  padding: 40px 20px 30px;
  width: 100%;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
}
.row {
  margin: 10px auto;
  flex-basis: 95%;
}
.rowLabel {
  display: flex;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
  font-size: large;
  font-weight: bold;
  align-items: baseline;
  width: 100%;
}
.rowInput {
  width: 95%;
  font-family: Helvetica, Arial, sans-serif;
  padding: 3px;
  font-size: large;
  border: none;
  border-bottom: 2px solid rgb(139, 139, 139);
  /* Firefox */
  -moz-appearance: textfield;
  margin-bottom: 2px;
}
/* Chrome, Safari, Edge, Opera */
.rowInput::-webkit-outer-spin-button,
.rowInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.rowInput:focus {
  outline: none;
  border-bottom: 4px solid var(--color-primary);
  margin-bottom: 0;
}
.btn {
  width: 95%;
  margin: 10px 3px 0;
  padding-block: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-weight: bolder;
  border-radius: 5px;
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
}

.btnAdd {
  composes: btn;
  color: var(--color-primary);
  background-color: transparent;
}

.btnSend {
  composes: btn;
}

.btnSend:hover {
  -webkit-box-shadow: 0 0 10px #888888;
  -moz-box-shadow: 0 0 10px #888888;
  box-shadow: 0 0 10px #888888;
}
.btnSend:active {
  background-color: rgb(165, 9, 9);
  box-shadow: none;
}

.rowImageIcon{
  max-height: 50px;
  padding: 10px;
  margin: 0px 2px 0px 2px;
}

.rowImageIcon{
display: flex;
}

.rowPayment{
  display: flex;
  justify-content: center;
}