/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* :root{
  --bs-danger-rgb: 138, 64, 81 !important; 
}

.btn-danger{
  background-color: rgb(var(--bs-danger-rgb));
  border-color: rgb(var(--bs-danger-rgb));
} */

:root {
   --color-primary: #dc3545;
}